@charset "utf-8";
/* CSS Document */
@import url(//fonts.googleapis.com/css?family=EB+Garamond);

@media (max-width:767px){

body {
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size:14px;
  line-height:1.5em;
  background-color:#fff;
  overflow:hidden;
  color:#666;
}

.mt-10{margin-top:10px;}
.mt-20{margin-top:20px;}
.mt-30{margin-top:30px;}
.mt-40{margin-top:40px;}

.mb-10{margin-bottom:10px;}
.mb-20{margin-bottom:20px;}
.mb-30{margin-bottom:30px;}
.mb-40{margin-bottom:40px;}
.mb-90{margin-bottom:50px;}

.pt-5{padding-top:5px;}
.pt-10{padding-top:10px;}
.pt-20{padding-top:20px;}
.pt-30{padding-top:30px;}
.pt-40{padding-top:40px;}

.pb-5{padding-bottom:5px;}
.pb-10{padding-bottom:10px;}
.pb-20{padding-bottom:20px;}
.pb-30{padding-bottom:30px;}
.pb-40{padding-bottom:40px;}

a {
  color:#000;
  text-decoration:none;
}

a:hover {
  text-decoration:none;
}

.garamond {
  font-family: 'EB Garamond', serif;
}

img {
  width:100%;
}

/*header*/

header {
  /*width:92%;*/
  margin:0 auto;
  padding:10px 0;
}

.header_top_L {
  float:left;
}

.header_top_L li {
  display:inline-block;
  width:15%;
  margin-right:10px;
}

.header_top_R {
  float:right;
}

.header_top_R li {
  display:inline-block;
}

.header_top_R li a {
  display:block;
  font-size:10px;
  padding:2px 5px;
  background-color:#b1b1b2;
  color:#fff;
}

.top_cont3.mb-90 {
    margin: 0 !important;
}

.header_top {
  width:94%;
  margin:0 auto 20px auto;
}

.header_mid {
  width:94%;
  margin:0 auto;
}

.logo {
  width:27%;
  float:left;
}

.menuBtn {
  width:13%;
  float:right;
  position:relative;
}

.closeBtn {
  position:absolute;
  top:0;
  left:0;
  display:none;
}

.spMenu {
  width:100%;
  background-color:#dbb9b8;
  color:#fff;
  padding:10px 0;
  position:relative;
  display:none;
}

.spMenu2 {
  width:100%;
  background-color:#dbb9b8;
  color:#fff;
  padding:10px 0;
  position:relative;
  display:none;
  margin-top:2px;
}

.spMenu3 {
  width:100%;
  background-color:#dbb9b8;
  color:#fff;
  padding:10px 0;
  position:relative;
  display:none;
  margin-top:2px;
}

.spMenu4 {
  width:100%;
  background-color:#dbb9b8;
  color:#fff;
  padding:10px 0;
  position:relative;
  display:none;
  margin-top:2px;
}

.menu_link {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.menu_L {
  float:left;
  width:40%;
  padding:4% 2%;
  border-bottom:1px solid #fff;
  position:relative;
}

.menu_L--bot {
  float:left;
  width:40%;
  padding:4% 2%;
  position:relative;
}

.menu_L:after {
  content:">";
  position:absolute;
  right:2%;
}

.menu_R {
  float:right;
  width:40%;
  padding:4% 2%;
  border-bottom:1px solid #fff;
  position:relative;
}

.menu_R--bot {
  float:right;
  width:40%;
  padding:4% 2%;
  position:relative;
}


.menu_R:after {
  content:">";
  position:absolute;
  right:2%;
}

.searchBox {
  width:200px;
  margin:20px auto 10px auto;
}

.catMenu {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#dbb9b8;
  display:none;
  z-index:10;
}

.menu_back {
  padding:4% 2%;
  border-bottom:1px solid #fff;
  position:relative;
  text-align:center;
}

.menu_back:before {
  content:"<";
  position:absolute;
  left:2%;
}

#searchform1 {  
  position: relative;
  background-color:#fff;
}  
#keywords1  {  
  width: 188px;  
  height: 23px;  
  background: url(../images/search.png) no-repeat 8px 3px;  
  padding: 2px 2px 2px 10px;  
  border:1px solid #b6b7b6;
  color:#000 !important;
}  
#searchBtn1 {  
  position: absolute;  
  top: 0;  
  left: 178px;  
}  


/*footer*/

.footerMenu {
  width:100%;
  border:1px solid #ccc;
  font-size:10px;
}

.footerMenu td {
  position:relative;
}

.footerMenu td a {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
  

.footerMenu tr {
  border-bottom:1px solid #ccc;
}

.footerMenu_L {
  width:46%;
  padding:2%;
  border-right:1px solid #ccc;
}

.footerMenu_R {
  padding:2%;
  width:45%;
}

.footer_bot {
  width:100%;
  background-color:#dbb9b8;
  text-align:center;
  padding:20px 0;
  color:#fff;
  position:relative;
}

.crText {
  margin-bottom:20px;
}

.toPc {
  display:inline-block;
  width:40%;
}

.toTop {
  display:inline-block;
  width:12%;
  position:absolute;
  top:23%;
  right:2%;
}

.shopMenu {
  width:96%;
  margin:0 auto 15px auto;
}

.shopMenu_btn {
  width:24%;
  padding:3px 0;
  background-color:#dfbbba;
  text-align:center;
  margin:0.5%;
  color:#fff;
  position:relative;
  float:left;
  font-size:10px;
}

.shopMenu_btn p {
  letter-spacing:-1px;
}

.shopMenu_btn img {
  width:25%;
}

.shopMenu_btn a {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
}

.shopMenu02 {
  font-size:10px;
  margin-top:20px;
  margin-bottom:20px;
  font-weight:bolder;
}

.shopMenu02_btn {
  width:33%;
  text-align:center;
  background-color:#efefef;
  float:left;
  margin-right:0.5%;
  padding:3px 0;
  position:relative;
}

.shopMenu02_btn--edge {
  width:33%;
  text-align:center;
  background-color:#efefef;
  float:left;
  padding:3px 0;
  position:relative;
}

.closeBtns {
  width:100%;
  height:100%;
  position:absolute;
  background-color:#dfbbba;
  background-image:url(../../img/sp/cat_close.png);
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  top:0;
  left:0;
  display:none;
}

.shopMenu_tit02 {
  padding:4% 2%;
  border-bottom:1px solid #fff;
  position:relative;
  text-align:center;
}

#searchform2 {  
  position: relative;
  background-color:#fff;
  margin:auto
}  
#keywords2  {  
  width: 188px;  
  height: 23px;  
  background: url(../images/search.png) no-repeat 8px 3px;  
  padding: 2px 2px 2px 10px;  
  border:1px solid #b6b7b6;
}  
#searchBtn2 {  
  position: absolute;  
  top: 0;  
  left: 172px;  
}  

.onShop_ser {
  width:200px;
  margin:0 auto 10px auto;
}



.onShop_cont1_boxes {
  text-align:center;
  margin-bottom:30px;
}

.onShop_cont1_boxes li {
  text-align:center;
  width:30%;
  display:inline-block;
  font-size:10px;
  margin:0 2px;
  vertical-align:top;
}

.pageTit2 {
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding: 20px 0 10px 0;
  font-size: 20px;
  margin-bottom: 20px;
  color:#000;
}

.onShop_cont1 {
  border-bottom:1px solid #ccc;
  margin-bottom:10px;
  width:96%;
  padding:0 2%;
}

.onShop_cont2 {
  margin-bottom:30px;
  width:96%;
  padding:0 2%;
}

.crown {
  text-align:left;
}

.crown img {
  width:30%;
}

.onShop_info {
  width:80%;
  margin:0 auto 30px auto;
}

.onShop_info li {
  padding-bottom:5px;
  border-bottom:1px solid #ccc;
  margin-bottom:5px;
  position:relative;
}

.onShop_info li:after {
  content:">";
  position:absolute;
  right:0;
  color:#ccc;
}

.footerMenu02 {
  margin-bottom:30px;
}

.footerMenu02 li {
  text-align:center;
  position:relative;
  background-color:#efefef;
  padding:5px 0;
  font-size:10px;
  margin-bottom:2px;
}

.footerMenu02 li span {
  font-size:12px;
}

.footerMenu02 li a {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
}

.cartNum {
  position:absolute;
  top:6%;
  right:20%;
  background-color:#fff;
  color:#000;
  padding:0 3px;
}

.narriv li:last-child {
  display:none;
}


}

@media (min-width:767px){
body {
  font-family:"メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size:14px;
  line-height:1.5em;
  background-color:#fff;
  overflow:hidden;
}

.mt-10{margin-top:10px;}
.mt-20{margin-top:20px;}
.mt-30{margin-top:30px;}
.mt-40{margin-top:40px;}

.mb-10{margin-bottom:10px;}
.mb-20{margin-bottom:20px;}
.mb-30{margin-bottom:30px;}
.mb-40{margin-bottom:40px;}
.mb-90{margin-bottom:90px;}

.pt-5{padding-top:5px;}
.pt-10{padding-top:10px;}
.pt-20{padding-top:20px;}
.pt-30{padding-top:30px;}
.pt-40{padding-top:40px;}

.pb-5{padding-bottom:5px;}
.pb-10{padding-bottom:10px;}
.pb-20{padding-bottom:20px;}
.pb-30{padding-bottom:30px;}
.pb-40{padding-bottom:40px;}



.alpha a:hover img {
  opacity: 0.8;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}

a {
  color:#000;
  text-decoration:none;
}

a:hover {
  text-decoration:none;
}

.garamond {
  font-family: 'EB Garamond', serif;
  font-weight: bold;
  letter-spacing: 1px;
}
.garamond h3 {
    font-weight: bold;
}

.edge {
  margin-right:0 !important;
}

/*header*/

header#pageTop{
  width:960px;
  margin:0 auto;
  padding:20px 0 30px;
}

.mainSlide {
    width: 720px;
    margin: 0 auto;
}

header nav {
  position:relative;
}

.header_top_L {
  float:left;
}

.header_top_L li {
  display:inline-block;
  margin-right:10px;
}

.header_top_R {
  float:right;
  font-size:10px;
}

.header_top_R li {
  display:inline-block;
  margin-left:10px;
  width:105px;
  padding-left:24px;
  background-size:contain;
  background-position:left;
}

.header_top_R li a:hover {
  color:#dab8b6;
}

.tmenu01 {
  background:url(../../img/common/tmenu01.png) no-repeat;
}
.tmenu02 {
  background:url(../../img/common/tmenu02.png) no-repeat;
}
.tmenu03 {
  background:url(../../img/common/tmenu03.png) no-repeat;
}
.tmenu04 {
  background:url(../../img/common/tmenu04.png) no-repeat;
}
.tmenu05 {
  background:url(../../img/common/tmenu05.png) no-repeat;
}
.tmenu06 {
  background:url(../../img/common/tmenu06.png) no-repeat;
}
.tmenu07 {
  background:url(../../img/common/tmenu07.png) no-repeat;
}
.tmenu08 {
  background:url(../../img/common/tmenu08.png) no-repeat;
}

.header_mid {
  text-align:center;
  padding:30px 0 50px 0;
}

.header_mid h1 {
  width:120px;
  margin:0 auto;
}

.header_mid h1 img {
  width:100%;
}

.logo_text {
  font-size:18px;
  padding-top:10px;
}

.gNav {
  text-align:center;
}

.gNav li {
  display:inline-block;
  margin:0 22px;
  font-size:16px;
}

.gNav li a {
    font-weight: bold;
}

.gNav li a:hover {
  color:#dab8b6;
}

.menu1 {
  position:absolute;
  z-index:10;
  background-color:#fff;
  padding:20px 10px 0 10px;
  top:20px;
  left:685px;
  display:none;
}

.menu1 li a:hover {
  color:#dab8b6;
}

.menu1 li {
  margin-bottom:15px;
}

/*sideBar*/

#side_left {
  width:216px;
  float:left;
  margin-bottom:100px;
}

.sideBar {
  width:200px;
  float:left;
  margin-bottom:100px;
}

.serchBox {
  margin-bottom:40px;
}

.sideBar_tit {
  border-bottom:1px solid #ccc;
  padding-bottom:5px;
  font-size:18px;
  margin-bottom:10px;
}

#infoPc {
    margin-bottom: 50px;
}

.sideBar_list {
  font-size:12px;
  margin-bottom:40px;
}

.sideBar_list2 {
  font-size:12px;
}

.sideBar_list li {
  margin-bottom:5px;
}

.sideBar_list2 li {
  color:#ccc;
  padding-bottom:2px;
  border-bottom:1px solid #ccc;
  margin-bottom:5px;
}

.sideBar_list2 li a {
  color:#666;
}

.sideBar_list li:before {
  content:"・";
}

.sideBar_ban {
  line-height:1em;
  font-size:16px;
  display:block;
  width:200px;
  text-align:center;
  background-color:#efefef;
  padding:7px 0;
  margin-bottom:25px;
}

.sText {
  font-size:10px;
}

.sideBar a:hover {
  color:#dab8b6;
}

#searchform1 {  
  position: relative;
}  
#keywords1  {  
  width: 188px;
  line-height: 22px;  
  background: url(../images/search.png) no-repeat 8px 3px;  
  padding: 2px 2px 2px 10px;  
  border:1px solid #b6b7b6;
  margin-bottom: 20px;
}  
#searchBtn1 {  
  position: absolute;  
  top: 0;  
  left: 172px;  
  width:29px;
  height:28px;
  background: url(../../img/common/ser_btn.png) no-repeat;
  border: none;
}  



/*content*/

.mainContent {
  width:730px;
  float:right;
}

/*footer*/

footer {
  float:left;
  margin: auto;
  width: 100%;
}

.footerNav {
  margin:90px auto 0;
  text-align:center;
}

.footerNav li {
  width:182px;
  display:inline-block;
  text-align:center;
  font-size:10px;
  border-right:1px solid #000;
  margin: 5px auto;
}

.footerNav li a:hover {
  color:#dab8b6;
}

.footerNav li:first-child {
  border-left:1px #666 solid;
}

.crText {
  position:relative;
  text-align:center;
  padding:15px 0;
  background-color:#dab8b6;
  margin-top:30px;
  color:#fff;
}

.toTop {
  position:absolute;
  top:5px;
  right:10%;
}
.buyBtn1 {
  background:url(../../img/common/buy_btn.png) no-repeat;
  width: 218px;
  height: 41px;
  border: none;
}
.likeBtn1 {
  background:url(../../img/common/like_btn.png) no-repeat;
  width: 218px;
  height: 41px;
  border: none;
}

.onShop_cont1_boxes .bx-viewport {
  height:250px !important;
}

}

.buyBtn1 {
  background:url(../../img/common/buy_btn.png) no-repeat;
  width: 218px;
  height: 41px;
  border: none;
}
.likeBtn1 {
  background:url(../../img/common/like_btn.png) no-repeat;
  width: 218px;
  height: 41px;
  border: none;
}

#swSp{
  display:none;
}
.productNameThumb {
  word-wrap: break-word;
}
