{% extends 'default_frame.twig' %}

{% block main %}

<section class="top">
  <div class="wrapper pageCont">
    <div class="pageTit garamond">
      <h2>CONCEPT</h2>
    </div><!--pageTit-->
    <div class="pageInner">
      <div class="conceptText">
        <p class="mb-20">あの頃読んだ絵本のように<br>人はそれぞれの物語を生きている。<br>Latiaはそんな一人一人の物語を<br>演出する為に生まれました。</p> 
        <p class="mb-20">あの日夢で見た世界のような<br>いつか読んだ絵本のような<br>初めて出会った唄のような</p>
        <p class="mb-20">胸の奥をくすぐるときめきの小さな種を<br>あなたの中で育ててみませんか？</p> 
        <p class="mb-20">主役により輝いてもらうアクセサリーブランド<br>それがLatia .</p>  
      </div>
    
    
    </div><!--inner-->
  </div><!--wrapper-->
  <div class="wrapper">
    <div class="top_cont01 top_cont01--page">
      <a class="garamond" href="{{app.config.root}}user_data/shop">ONLINE SHOP</a>
    </div><!--cont01-->
  </div>
</section>

{% endblock %}