{% extends 'default_frame_shop.twig' %}

{% block main %}

<div class="page_sTit2 garamond">
          <h2>HOW TO SHOP</h2>
        </div>
<p class="size_sTit">お買い物方法</p>

<section class="how-to-shop">
<ol><li>商品をカートに入れる<ul class="oway"><li>ご希望の商品のカートに入れるボタンをクリックし、商品をカートに入れます。</li><li>お買い物を続ける場合は商品ページに戻り、そのまま注文に進む場合は、カートの中身をクリックしてください。</li></ul></li><li>ご注文画面に進む<ul><li>商品の選定が終わりましたら、カートページもしくは画面右上メニュー内の「SHOPPING CART」から「お支払いへ進む」をクリックしてください。</li><li>次にお客様情報画面が表示され、お客様情報を入力してください。会員の方は、「ログインはこちらから」をクリックし、ログインすると住所を登録済みの場合、住所入力を省き、決済へ進みます。<br>※既にログインしている場合は、そのまま必要事項のみ、記述下さい。</li></ul></li><li>支払方法の選択<ul><li>注文内容を確認し、お支払い方法を選択してください。<ul id="order_ul"><li class="link_p odd">銀行振込</li><li class="link_p odd">代金引換</li><li class="link_p even">Paypal(クレジットカード)</li></ul></li></ul></li><li>配送先の指定<ul><li>「お客様の情報」に変更がある場合はページ上部の「My account」ボタンか、注文内容の確認ページの「お客様情報」の編集を押して、変更手続きをお願いします。</li><li>配達の日時指定や領収書の発行、お届け先指定がある場合、必要事項を備考欄に記入/選択してください。</li></ul></li><li> 注文を送信する<ul><li>送信される前に選択された内容に間違いがないか再度確認してください。</li><li>「注文する」ボタンをクリックしてください。</li></ul></li><li id="kmail">確認メール/注文完了<ul><li>受信した旨をお伝えする自動返信メールがすぐに届きます。</li><li>銀行振込の場合はご注文確認メールに口座情報が記載されていますのでご確認ください。<br> 自動送信メールとなりますので、返信はなさらないよう、お願い致します。</li><li> 銀行振込の場合はご注文のメールを確認の上、指定の口座にお客様の注文の際の登録名義でお振り込みください。</li></ul></li></ol></section>

{% endblock %}