{% extends 'default_frame.twig' %}

{% block main %}
<div class="mailmagazineWrapper">
  <div class="wrapper pageCont">
    <div class="pageTit garamond">
      <h2>MAILMAGAZINE</h2>
    </div><!--pageTit-->
    <div class="pageInner">
<div class="mailmagazinecont">
<iframe src="http://eepurl.com/RsgjT">
</div>
</div>
</div>
</div>

{% endblock %}