{% extends 'default_frame.twig' %}

{% block main %}

<div class="wrapper pageCont">
<div class="pageTit garamond">
      <h2>RECRUIT</h2>
    </div>
                <div id="privacy_box" class="container-fluid">
                    <div id="privacy_box__body" class="row">
                        <div id="privacy_box__body_inner" class="col-md-10 col-md-offset-1">
                            <p id="privacy_box__declaration">
                                                                    アシスタントスタッフ募集<br>
渋谷本社にて営業事務アシスタントスタッフを募集しております。
                            </p>
                            <br>
<table id="recruit-tb"><tbody><tr><th>■ 職種 :</th><td>本社スタッフ(アルバイト)</td></tr><tr class="alt-table-row"><th>■ 業務内容 :</th><td>営業事務アシスタント、商品管理、顧客管理などをしていただきます。<br>スポットで店頭にて接客をして頂くこともございます。</td></tr><tr><th>■ 応募資格 :</th><td>高卒以上、22歳から35歳位までの方(男女可)<br>※年齢制限理由<br>顧客との関係で業務が円滑に遂行される特定の年齢層の補充のため。<br>※アクセサリーの販売経験をお持ちの方優遇<br>※オフィスでの事務作業経験をお持ちの方優遇</td></tr><tr class="alt-table-row"><th>■ 勤務地：</th><td>渋谷本社</td></tr><tr><th>■ 勤務時間：</th><td>9時30分から18時30分の間で実働8時間、休憩1時間とする</td></tr><tr class="alt-table-row"><th>■ 休日・休暇：</th><td>土、日、祝(夏季、冬季休暇あり)</td></tr><tr><th>■ 給与：</th><td>時給1,000円(初月は研修期間は950円)<br>※交通費支給<br>※能力・経験を考慮の上、当社規定により優遇いたします。</td></tr><tr class="alt-table-row"><th>■ 先行の流れ</th><td>応募 →書類選考 → 面接 → 採用内定</td></tr><tr><th>■ 応募方法：</th><td>〒150-0041<br>東京都渋谷区神南1-5-19 ハレ神南7F 株式会社MASTARD Inc. 採用担当宛<br>TEL：03-6455-3546<br>※採用や応募に関するご不明な点は、メールにてお気軽にお問い合わせ下さい。<br> Latiaカスタマーセンター： info@latia-story.com<br>（受付時間：11：00～18：00/土・日・祝日を除く）</td></tr></tbody></table>
                        </div><!-- /.col -->
                    </div><!-- /.row -->

                </div>
            </div>

{% endblock %}