{% extends 'default_frame_shop.twig' %}

{% block main %}

<div class="page_sTit garamond">
        <h3>再入荷リクエスト</h3>
      </div>
<p class="mt20 mb30">只今準備中です。ご迷惑をおかけいたしますが今しばらくおまちくださいませ。<br>
<br>
売り切れの商品に関しては、個別でお問い合わせが可能です。<br>
各商品詳細ページよりお問い合わせください。</p>
{% endblock %}