{% extends 'default_frame_shop.twig' %}

{% block main %}
<div class="mainContent">
      <section>
        <div class="page_sTit2 garamond">
          <h2>TAKE THE SIZE</h2>
        </div>
        <p class="size_sTit">サイズの計り方</p>
        
        <div class="pageInner">
          <p class="size_sTi2 garamond">NECKLACE</p>
          <p class="size_sTi3">ネックレス</p>
        </div>
        <div class="size_img">
          <img src="{{ app.config.front_urlpath }}/img/common/size_01.png" alt="ネックレス">
        </div>
        <div class="pageInner">
          <p class="size_sTi2 garamond">PIERCE</p>
          <p class="size_sTi3">ピアス</p>
        </div>
        <div class="size_img">
          <img src="{{ app.config.front_urlpath }}/img/common/size_02.png" alt="ピアス">
        </div>
        <div class="pageInner">
          <p class="size_sTi2 garamond">BRACELET</p>
          <p class="size_sTi3">ブレスレット</p>
        </div>
        <div class="size_img">
          <img src="{{ app.config.front_urlpath }}/img/common/size_03.png" alt="ブレスレット">
        </div>
        <div class="pageInner">
          <p class="size_sTi2 garamond">RING</p>
          <p class="size_sTi3">リング</p>
        </div>
        <div class="size_img mb-30">
          <img src="{{ app.config.front_urlpath }}/img/common/size_04.png" alt="リング">
        </div>
        <table class="size_ta">
          <thead>
            <tr>
              <th>リングサイズ</th>
              <th>円周</th>
              <th>内径</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1号</td>
              <td>40.80mm</td>
              <td>13.00mm</td>
            </tr>
            <tr>
              <td>2号</td>
              <td>41.85mm</td>
              <td>13.30mm</td>
            </tr>
            <tr>
              <td>3号</td>
              <td>40.80mm</td>
              <td>13.00mm</td>
            </tr>
            <tr>
              <td>4号</td>
              <td>42.90mm</td>
              <td>13.70mm</td>
            </tr>
            <tr>
              <td>5号</td>
              <td>45.00mm</td>
              <td>14.30mm</td>
            </tr>
            <tr>
              <td>6号</td>
              <td>46.05mm</td>
              <td>14.70mm</td>
            </tr>
            <tr>
              <td>7号</td>
              <td>47.15mm</td>
              <td>15.00mm</td>
            </tr>
            <tr>
              <td>8号</td>
              <td>48.15mm</td>
              <td>15.30mm</td>
            </tr>
            <tr>
              <td>9号</td>
              <td>49.20mm</td>
              <td>15.70mm</td>
            </tr>
            <tr>
              <td>10号</td>
              <td>50.25mm</td>
              <td>16.00mm</td>
            </tr>
            <tr>
              <td>11号</td>
              <td>51.30mm</td>
              <td>16.30mm</td>
            </tr>
            <tr>
              <td>12号</td>
              <td>52.35mm</td>
              <td>16.70mm</td>
            </tr>
            <tr>
              <td>13号</td>
              <td>53.40mm</td>
              <td>17.00mm</td>
            </tr>
            <tr>
              <td>14号</td>
              <td>54.45mm</td>
              <td>17.30mm</td>
            </tr>
            <tr>
              <td>15号</td>
              <td>55.50mm</td>
              <td>17.70mm</td>
            </tr>
          </tbody>
        </table>
      
      </section>
    </div><!--mainContent-->

{% endblock %}