<div class="header_top clearfix">
    <ul class="header_top_L alpha">
      <li><a href="" target="_blank"><img src="{{ app.config.front_urlpath }}/img/common/headerBtn01.png" alt="twitter"></a></li>
      <li><a href="" target="_blank"><img src="{{ app.config.front_urlpath }}/img/common/headerBtn02.png" alt="facebook"></a></li>
      <li><a href="" target="_blank"><img src="{{ app.config.front_urlpath }}/img/common/headerBtn03.png" alt="inst"></a></li>
    </ul>
    <ul class="header_top_R garamond">
      <li><a href="" target="_blank">MEMBERS</a></li>
      <li><a href="" target="_blank">MAIL MAGAZINE</a></li>
    </ul>
  </div>