<!--<a class="sideBar_ban" href="{{app.config.root}}user_data/howtoshop"><span class="garamond">HOW TO SHOP</span><br><span class="sText">お買い物方法</span></a>-->
      <a class="sideBar_ban" href="{{app.config.root}}contact"><span class="garamond">CONTACT US</span><br><span class="sText">お問い合わせ</span></a>
      <a class="sideBar_ban" href="{{app.config.root}}user_data/size"><span class="garamond">TAKE THE SIZE</span><br><span class="sText">サイズの計り方</span></a>
      <a class="sideBar_ban" href="{{app.config.root}}user_data/faq"><span class="garamond">FAQ</span><br><span class="sText">よくあるご質問</span></a>
    </div><!--sideBar-->