<div class="header_mid">
    <h1 class="alpha"><a href=""><img src="http://la-terra.co.jp/test_latia/common/images/logo.png" alt="latia"></a></h1>
    <p class="logo_text garamond">OFFICIAL SITE</p>
  </div>