<div class="sideBar_tit garamond">
        <p>MATERIAL</p>
      </div>
      <ul class="sideBar_list">
        <li><a href="{{app.config.root}}products/list?category_id=30">真鍮</a></li>
        <li><a href="{{app.config.root}}products/list?category_id=31">シルバー</a></li>
        <li><a href="{{app.config.root}}products/list?category_id=32">K10</a></li>
        <li><a href="{{app.config.root}}products/list?category_id=33">K18</a></li>
      </ul>