<nav>
    <ul class="gNav garamond">
      <li><a href="index.html">HOME</a></li>
      <li><a href="news.html">NEWS</a></li>
      <li><a href="shop/index.html">ONLINE SHOP</a></li>
      <li><a href="concept.html">CONCEPT</a></li>
      <li><a href="gallery.html">GALLERY</a></li>
      <li data-menu-label="menu1"><a href="">CATEGORY</a></li>
      <li><a href="">PRESS</a></li>
    </ul>
    <div class="menu1 garamond">
      <ul>
        <li><a href="">ALL ITEM</a></li>
        <li><a href="">NEW ARRIVAL</a></li>
        <li><a href="">NECKLACE</a></li>
        <li><a href="">RING</a></li>
        <li><a href="">PINKYRING</a></li>
        <li><a href="">PIERCE</a></li>
        <li><a href="">EARRINGE</a></li>
        <li><a href="">BRACELET</a></li>
        <li><a href="">ANKLET</a></li>
        <li><a href="">PAIR RING</a></li>
        <li><a href="">BIRTH STONE</a></li>
        <li><a href="">GIFT</a></li>
      </ul>
    </div><!--menu1-->
  </nav>