<div class="mb-90 alpha">
      <p class="garamond mb-10 imgText">NEW ARRIVAL</p>
      <a href=""><img src="{{ app.config.front_urlpath }}/img/top/photo-1450849608880-6f787542c88a.png" alt=""></a>
</div>